{% extends "logado.html" %}

{% block title %}
    Controle Cliente
{% endblock %}
{% block content %}
<body>
  <div>
    <H4>SÓ PARA TESTES</H4>
    <!-- ÁREA CADASTRAR CLIENTE -->
    <div class="divStyle borda">
      <br>
      <form action="#" class="form-horizontal" method="post">
          <h4>Cadastro Cliente</h4>
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Nome *</label>  
            <div class="col-md-4">
            <input id="textinput" name="getNome" type="text" placeholder="Digite o nome do cliente" class="form-control input-md inputStyle" required="FA">
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">CPF *</label>  
            <div class="col-md-4">
            <input id="textinput" data-ls-module="charCounter" maxlength="11" name="getCpf" type="text" placeholder="Digite o cpf do cliente" class="form-control input-md inputStyle" required>
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Telefone *</label>  
            <div class="col-md-4">
            <input id="textinput" data-ls-module="charCounter" maxlength="11" name="getTelefone" type="text" placeholder="Digite o telefone do cliente" class="form-control input-md inputStyle" required="">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for=""></label>
            <div class="col-md-8">
                <button name="button" value = "10" class="btn btn-success">Cadastrar</button>
              <!--  <button type="submit" name="cadastrarButton" form="form1" value="Submit">Submit</button>-->
              <!-- <button type="submit"  name="cadastrarButton" formmethod="post">Submit using POST</button> deu certo-->
            </div>
          </div>
          
          </fieldset>
      </form>
    </div>

    <!-- ÁREA EDITAR CLIENTE -->
    <div class="divStyle borda">
      <br>
      <h4>Editar Cliente</h4>    


      <form action="#"  class="form-inline" method="post">
        <div class="form-group">
          <div class="col-md-4">
          <input class="form-control input-md mr-sm-2" data-ls-module="charCounter" maxlength="11" name="getCpfbusca" type="search" placeholder="CPF do cliente" aria-label="Search">
          <button name="button" value = "12" class="btn btn-outline-success my-2 my-sm-2" type="submit">Pesquisar</button>
          </div>
        </div>
      </form>
      
      <form action="#" class="form-vertical" method="post">             
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Nome *</label>  
            <div class="col-md-4">
            <input id="textinput" name="getNome" type="text" value = "{{nomeInput}}" class="form-control input-md inputStyle" required="FA">
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">CPF *</label>  
            <div class="col-md-4">
            <input id="textinput"  data-ls-module="charCounter" maxlength="11" name="getCpf"  type="text" value = "{{cpfInput}}" class="form-control input-md inputStyle" required>
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Telefone *</label>  
            <div class="col-md-4">
            <input id="textinput" data-ls-module="charCounter" maxlength="11"  name="getTelefone"  type="text" value = "{{telefoneInput}}" class="form-control input-md inputStyle" required="">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for=""></label>
            <div class="col-md-8">
              <button name="button" value = "13"  class="btn btn-warning" type ="submit" text-align: center>Alterar</button>
            </div>
          </div>
      </form>
    </div> 
    
    <!-- ÁREA REMOVER CLIENTE -->
    <div class="divStyle borda">
      <br>
      <h4>Remover Cliente</h4>
      <form action="#" class="form-vertical" method="post">             
        <div class="form-group">
          <label class="col-md-4 control-label" for="textinput">CPF</label>  
          <div class="col-md-4">
          <input id="textinput" name="getCpf" type="text" data-ls-module="charCounter" maxlength="14" placeholder="Digite o CPF do cliente que deseja remover" class="form-control input-md inputStyle" required="FA">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-8">
            <button  name="button" value = "11"  class="btn btn-danger" text-align: center>Remover</button>
          </div>
        </div>
      </form>
  </div>
   
  <!-- BUSCARCLIENTE -->
  <div class="divStyle borda">
    <br>
    <h4>Buscar Cliente</h4>
    <form action ="#" class="form-vertical" method="post">             
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">CPF</label>  
        <div class="col-md-4">
        <input id="textinput" name="getCpf"  data-ls-module="charCounter" maxlength="14" type="text" placeholder="Buscar cliente por CPF" class="form-control input-md inputStyle" required="FA">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-8">
          <button id=""  name="button" value = "14" class="btn btn-info" text-align: center>Buscar</button>
        </div>
      </div>
    </form>
    <form action = "#" class="form-vertical" method="post">             
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Nome</label>  
        <div class="col-md-4">
        <input id="textinput" name="getNome" type="text" placeholder="Buscar cliente por Nome" class="form-control input-md inputStyle" required="FA">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-8">
          <button id=""  name="button" value = "15" class="btn btn-info" text-align: center>Buscar</button>
        </div>
      </div>
    </form>
</div>
</div>
</body>
{% endblock %}